---
import HeroSection from '../components/HeroSection.astro';
import FirstSection from '../components/FirstSection.astro';
import SecondSection from '../components/SecondSection.astro';
import ThirdSection from '../components/ThirdSection.astro';
import FourthSection from '../components/FourthSection.astro';
import FifthSection from '../components/FifthSection.astro';
import BuyingSection from '../components/BuyingSection.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gear.Club Unlimited 3 - Landing">
  <HeroSection />
  <main>
    <FirstSection />
    <SecondSection />
    <ThirdSection />
    <FourthSection />
    <FifthSection />
    <BuyingSection />
    <Footer/> 
  </main>
</Layout>